.divNoticia {
    padding-left: 150px;
    padding-right: 150px;
}

.pTituloNoticia {
    font-size: 30px;
    color: #666666;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    text-align: justify;
}

.divLinhaEmbaixo {
    border-bottom: 2px solid #666666;
    width: 60px;
    margin-left: 3px;
}

.divTextoNoticia {
    text-align: justify;
    margin-top: 50px;
}

.divImagemNoticia {
    margin-top: 40px;
    justify-content: center;
    display: flex;
    margin-bottom: 150px;
}

.divBackgroundCinza2 {
    width: 520px;
    height: 402px;
    position: absolute;
    background: rgba(30, 30, 30, 0.5);
}

.imgNoticia {
    width: 520px;
    height: 402px;
    // object-fit: cover;
}

.pImagens {
    color: white;
    top: calc(50% - 80px);
    font-size: 40px;
    position: relative;
    text-align: center;
}

.pSubTituloImagem {
    text-align: center;
    color: white;
}

.divSetaEsquerda {
    position: absolute;
    font-size: 70px;
    color: #2A3B72;
    top: unset;
    right: unset;
    left: -70px;
    bottom: 150px;
    z-index: 99;
    cursor: pointer;
    border-radius: 50%;
}

.divSetaDireita {
    position: absolute;
    font-size: 70px;
    color: #2A3B72;
    top: unset;
    right: unset;
    right: -70px;
    bottom: 150px;
    z-index: 99;
    cursor: pointer;
    border-radius: 50%;
}

@media(max-width: 1000px) {

    .gridNoticias {
        padding-left: 10px;
        padding-right: 10px;
    }

    .backgroundCinzaNoticia {
        width: 100%;
    }

    .pTituloNoticia {
        font-size: 20px;
    }

    .pPublicado {
        font-size: 12px;
        margin-top: 20px;
    }

    .divNoticia {
        padding-left: 10px;
        padding-right: 10px;
    }

    .divTextoNoticia {
        font-size: 14px;
    }

    .divSetaEsquerda {
        left: 0px;
        top: 170px;
        color: white;
        background: rgba(0, 0, 0, 0.4);
        height: 70px;
        z-index: 99;
    }

    .divSetaDireita {
        right: 0px;
        top: 170px;
        color: white;
        background: rgba(0, 0, 0, 0.4);
        height: 70px;
        z-index: 99;
    }
}