<ion-content>
    <app-toolbar></app-toolbar>

    <div>
        <p class="pTituloPagina">Notícia</p>
        <img src="../../assets/imgs/paisagem.jpg" class="imgTituloPagina">
        <div class="divBackgroundCinza" tooltip="Yuri Barichvich @barichy" placement="bottom" show-delay="500"></div>
    </div>

    <div class="divNoticia">


        <div>
            <p class="pTituloNoticia">{{noticia?.titulo}}</p>
            <div class="divLinhaEmbaixo"></div>
        </div>

        <div class="divTextoNoticia" [innerHTML]="noticia?.texto">
        </div>

        <div style="position: relative">
            <ion-slides #slideFoto [options]="optionsSlide">
                <ion-slide *ngFor="let aux of listImagens">
                    <img class="imgNoticia" [src]="aux.url" (click)="abrirImagem()">
                </ion-slide>

            </ion-slides>
            <div class="divSetaEsquerda" (click)="moverSlide(false)" *ngIf="listImagens.length > 0">
                <ion-icon name="ios-arrow-dropleft"></ion-icon>
            </div>
            <div class="divSetaDireita" (click)="moverSlide(true)" *ngIf="listImagens.length > 0">
                <ion-icon name="ios-arrow-dropright"></ion-icon>
            </div>
        </div>

    </div>
    <app-rodape></app-rodape>
</ion-content>