<ion-content>
    <app-toolbar></app-toolbar>

    <div>
        <p class="pTituloPagina">Parceiros</p>
        <img src="../../assets/imgs/paisagem.jpg" class="imgTituloPagina">
        <div class="divBackgroundCinza"></div>
    </div>

    <ion-grid style="margin-top: 50px; margin-bottom: 50px;">
        <ion-row>
            <ion-col style="justify-content: center; display: flex">
                <div style="width: 300px;">
                    <img class="imgParceiros" src="../../assets/imgs/messes.png">
                    <p class="pParceiros">Messes</p>
                </div>
            </ion-col>
            <ion-col style="justify-content: center; display: flex">
                <div style="width: 300px;">
                    <img class="imgParceiros" src="../../assets/imgs/sicoob.png">
                    <p class="pParceiros">Sicoob</p>
                </div>
            </ion-col>
            <ion-col style="justify-content: center; display: flex">
                <div style="width: 300px;">
                    <img class="imgParceiros" src="../../assets/imgs/selita.png">
                    <p class="pParceiros">Selita</p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>


    <app-rodape></app-rodape>
</ion-content>