<ion-content>
    <app-toolbar></app-toolbar>

    <div>
        <p class="pTituloPagina">Parceiros</p>
        <img src="../../assets/imgs/paisagem.jpg" class="imgTituloPagina">
        <div class="divBackgroundCinza" tooltip="Yuri Barichvich @barichy" placement="bottom" show-delay="2000"></div>
    </div>

    <div class="divSlide">
        <ion-slides #slideFoto pager="true" [options]="optionsSlide">

            <ion-slide *ngFor="let aux of listParceiros">
                <div style="width: 300px;">
                    <img class="imgParceiros" [src]="aux.url">
                    <p class="pParceiros">{{aux.nome}}</p>
                </div>
            </ion-slide>

        </ion-slides>
    </div>


    <app-rodape></app-rodape>
</ion-content>