<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Adicionar Depoimento</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="resource">
        <ion-item class="itemAdicionar">
            <ion-label class="labelCampo" position="stacked">Nome</ion-label>
            <ion-input formControlName="nome" placeholder="Digite o título..."></ion-input>
        </ion-item>
        <ion-item class="itemAdicionar">
            <ion-label class="labelCampo" position="stacked">Descrição</ion-label>
            <ion-input formControlName="descricao" placeholder="Digite a descrição..."></ion-input>
        </ion-item>
        <ion-item class="itemAdicionar">
            <ion-label class="labelCampo" position="stacked">Depoimento</ion-label>
            <ion-textarea formControlName="depoimento" placeholder="Digite o depoimento..." rows="10"></ion-textarea>
        </ion-item>
        <ion-item class="itemAdicionar">
            <ion-label class="labelCampo">Ativado?</ion-label>
            <ion-toggle formControlName="ativado"></ion-toggle>
        </ion-item>

        <ion-label class="labelCampo" style="font-weight: 500">Foto de Perfil</ion-label>
        <input multiple="multiple" style="display: none" type="file" (change)="fotoDepoimento($event)" #fileInput>

        <ion-grid style="margin-top: 20px; overflow: hidden;">
            <ion-row>
                <ion-col>
                    <ion-label style="top: 10px; position: relative;">
                        {{fotoSelecionada != null ? fotoSelecionada.length : 0}}
                        Imagem(ns) selecionadas</ion-label>
                </ion-col>
                <ion-col>
                    <ion-button style="float: right;" (click)="fileInput.click()">Add.
                        Fotos
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button expand="block" class="buttonAlterar" [disabled]="resource.invalid"
                        (click)="adicionar()">
                        {{atualizar ? "Alt." : "Add."}} Depoimento
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button expand="block" class="buttonCancelar" (click)="cancelar()">Cancelar</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>