<ion-content>
    <app-toolbar></app-toolbar>

    <div>
        <p class="pTituloPagina">Missão</p>
        <img src="../../assets/imgs/paisagem.jpg" class="imgTituloPagina">
        <div class="divBackgroundCinza" tooltip="Yuri Barichvich @barichy" placement="bottom" show-delay="2000"></div>
    </div>

    <div class="divConteudoPagina">
        Implantar ações que contribuam para a melhoria da qualidade e quantidade das águas no estado do Espírito Santo
        através de programas, projetos e ações de recuperação das áreas de preservação permanente, nascentes e
        restauração de áreas degradadas.</div>

    <img src="../../assets/imgs/background (2).jpg" tooltip="José Carlos de Oliveira @jcdeoliveira11" placement="top"
        show-delay="2000" class="imgBackgroundSobre">
    <app-rodape></app-rodape>
</ion-content>