<ion-content>
    <app-toolbar></app-toolbar>

    <div>
        <p class="pTituloPagina">Missão</p>
        <img src="../../assets/imgs/paisagem.jpg" class="imgTituloPagina">
        <div class="divBackgroundCinza"></div>
    </div>

    <div class="divConteudoPagina">
        Implantar ações que contribuam para a melhoria da qualidade e quantidade das águas no estado do Espírito Santo
        através de programas, projetos e ações de recuperação das áreas de preservação permanente, nascentes e
        restauração de áreas degradadas.</div>

    <app-rodape></app-rodape>
</ion-content>
