<ion-grid class="gridFooter" *ngIf="width > 1000" tooltip="Studio Matri @studiomatrifotovideo" placement="top" show-delay="500">
    <ion-row style="margin-top: 80px">
        <ion-col>
            <p class="pMenuTitulo">MENU</p>
            <div class="divBordaTitulo"></div>

            <ul style="padding-inline-start: 20px; font-size: 14px">
                <li style="cursor:pointer" (click)="abrirPagina('/somos')">Quem Somos</li>
                <li style="cursor:pointer" (click)="abrirPagina('/fazemos')">O que fazemos</li>
                <li style="cursor:pointer" (click)="abrirPagina('/transparencia')">Transparência</li>
                <li style="cursor:pointer" (click)="abrirPagina('/parceiros')">Parceiros</li>
                <li style="cursor:pointer" (click)="abrirPagina('/contato')">Contato</li>
            </ul>
        </ion-col>
        <ion-col>
            <p class="pMenuTitulo">COMO CHEGAR</p>
            <div class="divBordaTitulo"></div>


            <p class="pTituloEndereco">Escritório Regional Sudeste</p>

            <div style="margin-top: 1em;">
                <p class="pEndereco"> R. Costa Pereira, 88 - Centro, </p>
                <p class="pEndereco">Cachoeiro de Itapemirim - ES - Brasil</p>
                <p class="pEndereco">CEP 29.300-040</p>
            </div>
        </ion-col>
        <ion-col>
            <p class="pMenuTitulo">ENTRE EM CONTATO</p>
            <div class="divBordaTitulo"></div>

            <div style="margin-top: 1em;">
                <p class="pEndereco"> 55 (28) 3027-2706 </p>
                <p class="pEndereco"> pactopelasaguas@gmail.com </p>
                <p class="pEndereco"> mvargas@pactopelasaguas.com.br </p>
            </div>

            <p class="pMenuTitulo" style="margin-top: 40px">MÍDIAS SOCIAIS</p>
            <div class="divBordaTitulo"></div>

            <div>
                <ion-icon class="iconFooter" name="logo-instagram"></ion-icon>
                <ion-icon class="iconFooter" name="logo-facebook"></ion-icon>
            </div>
        </ion-col>
        <ion-col class="colLogo">
            <img src="../../../assets/imgs/logo.png">
            <div style="margin-top: 20px">
                <p class="pDireitos">© 2019 Instituto Pacto Pelas Águas Capixabas</p>
                <p class="pDireitos">Todos Direitos Reservados</p>
            </div>
        </ion-col>
    </ion-row>

    <img src="../../../assets/imgs/webjobs.png" class="imgWebJobs">
</ion-grid>