<ion-content>
    <app-toolbar></app-toolbar>

    <div>
        <p class="pTituloPagina">Quem somos?</p>
        <img src="../../assets/imgs/paisagem.jpg" class="imgTituloPagina">
        <div class="divBackgroundCinza" tooltip="Yuri Barichvich @barichy" placement="bottom" show-delay="500"></div>
    </div>

    <div class="divConteudoPagina">
        O <strong class="strongInstituto">Instituto Pacto Pelas Águas Capixabas</strong> é uma organização da sociedade
        civil, sem fins
        lucrativos, que tem como
        foco de abrangência e atuação o estado do Espírito Santo. Fundado em novembro de 2018, oriundo do Programa Pacto
        pelas Águas Capixabas, iniciado por um grupo de pessoas e entidades ainda em 2017.</div>

    <img src="../../assets/imgs/background (1).jpg" tooltip="Studio Matri @studiomatrifotovideo" placement="top"
        show-delay="500" class="imgBackgroundSobre">
    <app-rodape></app-rodape>
</ion-content>