<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button auto-hide="false" menu="crud"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Notícias
        </ion-title>
    </ion-toolbar>
    <ion-searchbar *ngIf="!segundaTela" debounce="500" placeholder="Pesquise a Notícia" [(ngModel)]="pesquisa"
        (ionChange)="listar(pesquisa)" style="background: var(--ion-color-primary)"></ion-searchbar>
</ion-header>

<ion-content>
    <ion-slides style="height: 100%;" #slideAdd>
        <ion-slide style="overflow-y: scroll">

            <ion-list style="height: 100%; width: 100%">
                <ion-item *ngFor="let aux of listNoticias">
                    <ion-label>
                        <h2>{{aux?.titulo}}</h2>
                        <p>Categoria: {{aux?.categoria?.nome}} - Criado em: {{aux?.createdAt | date:'dd/MM/yyyy'}}</p>
                    </ion-label>

                    <ion-buttons style="height: 100%">
                        <ion-button class="buttonAlterar" (click)="proximo(aux)">Alterar</ion-button>
                        <ion-button class="buttonCancelar" (click)="excluir(aux)">Excluir</ion-button>
                    </ion-buttons>
                </ion-item>
            </ion-list>

            <ion-fab class="fabAdicionar" vertical="bottom" horizontal="end" slot="fixed" (click)="proximo()">
                <ion-fab-button>
                    <ion-icon name="add"></ion-icon>
                </ion-fab-button>
            </ion-fab>

        </ion-slide>

        <ion-slide style="overflow-y: scroll">
            <div class="divAdicionar">
                <div class="divDropDown">
                    <div (click)="primeiroClicar()">
                        <ion-label style="font-weight: bold" color="primary">
                            Notícia
                            <ion-icon class="iconDropDown"
                                [name]="primeiroClicado ? 'ios-arrow-dropright' : 'ios-arrow-dropdown'"></ion-icon>
                        </ion-label>
                    </div>
                    <div *ngIf="primeiroClicado">
                        <ion-item class="itemAdicionar">
                            <ion-label class="labelCampo" position="stacked">Título</ion-label>
                            <ion-input [(ngModel)]="titulo" placeholder="Digite o título..."></ion-input>
                        </ion-item>
                        <ion-item class="itemAdicionar">
                            <ion-label class="labelCampo" position="stacked">Manchete</ion-label>
                            <ion-input [(ngModel)]="manchete" placeholder="Digite a manchete..."></ion-input>
                        </ion-item>

                        <div class="divEditor">
                            <ckeditor [editor]="Editor" [(ngModel)]="texto"></ckeditor>
                        </div>
                    </div>
                </div>


                <div class="divDropDown" style="margin-top: 40px;">
                    <div (click)="segundoClicar()">
                        <ion-label style="font-weight: bold" color="primary">Inf. Adicionais e Galeria
                            <ion-icon class="iconDropDown"
                                [name]="segundoClicado ? 'ios-arrow-dropright' : 'ios-arrow-dropdown'"></ion-icon>
                        </ion-label>
                    </div>
                    <ion-grid *ngIf="segundoClicado">
                        <ion-row>
                            <ion-col>
                                <ion-item class="itemAdicionar">
                                    <ion-label class="labelCampo">Categoria</ion-label>
                                    <ion-select [(ngModel)]="categoria_id">
                                        <ion-select-option *ngFor="let aux of listCategorias" [value]="aux.id">
                                            {{aux.nome}}
                                        </ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </ion-col>
                            <ion-col>
                                <ion-item class="itemAdicionar">
                                    <ion-label class="labelCampo">Posição</ion-label>
                                    <ion-select [(ngModel)]="posicao_id">
                                        <ion-select-option *ngFor="let aux of listPosicoes" [value]="aux.id">
                                            {{aux.nome}}
                                        </ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item class="itemAdicionar">
                                    <ion-label class="labelCampo" position="stacked">URL Amigável</ion-label>
                                    <ion-input [(ngModel)]="url" placeholder="Digite a URL..."></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col style="margin-top: 20px;">
                                <ion-label class="labelCampo" style="font-weight: 500">Galeria de Fotos</ion-label>
                                <input multiple="multiple" style="display: none" type="file"
                                    (change)="arquivosSelecionados($event)" #fileInput>

                                <ion-grid style="margin-top: 20px; overflow: hidden;">
                                    <ion-row>
                                        <ion-col>
                                            <ion-label style="top: 10px; position: relative;">
                                                {{imagensSelecionadas != null ? imagensSelecionadas.length : 0}}
                                                Imagem(ns) selecionadas</ion-label>
                                        </ion-col>
                                        <ion-col>
                                            <ion-button style="float: right;" (click)="fileInput.click()">Add.
                                                Fotos
                                            </ion-button>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col style="margin-top: 20px;">
                                <ion-label class="labelCampo" style="font-weight: 500">Imagem de Capa</ion-label>
                                <input style="display: none" type="file" (change)="fotoPrincipalSelecionada($event)"
                                    #fileInput2>

                                <ion-grid style="margin-top: 20px; overflow: hidden;">
                                    <ion-row>
                                        <ion-col>
                                            <ion-label style="top: 10px; position: relative;">
                                                {{arquivoImagemCapa != null ? arquivoImagemCapa.length : 0}}
                                                Imagem(ns) selecionadas</ion-label>
                                        </ion-col>
                                        <ion-col>
                                            <ion-button style="float: right;" (click)="fileInput2.click()">Add.
                                                Fotos
                                            </ion-button>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </ion-slide>
    </ion-slides>

</ion-content>

<ion-footer *ngIf="segundaTela">
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button expand="block" class="buttonAlterar" (click)="adicionar()" [disabled]="desabilitar()">
                        {{alterar == null ? "Add." : "Alt."}} Notícia</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button expand="block" class="buttonCancelar" (click)="voltar()">Voltar</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>