.divListaNoticias {
    padding-left: 150px;
    padding-right: 150px;
}

.pTituloNoticia {
    font-size: 30px;
    color: #666666;
    margin-block-end: 0;
}

.divLinhaEmbaixo {
    border-bottom: 2px solid #666666;
    width: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

.gridNoticias {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px
}

.backgroundCinzaNoticia {
    height: 300px;
    width: 400px;
    position: absolute;
    background: rgba(30, 30, 30, 0.5);
    top: 5px;
    cursor: pointer;
}

.imgNoticias {
    height: 300px;
    width: 400px;
    object-fit: cover;
}

.pPublicado {
    font-size: 20px;
    color: #777777;
    margin-top: 50px;
}