<ion-content>
    <app-toolbar></app-toolbar>

    <div>
        <p class="pTituloPagina">Notícias</p>
        <img src="../../assets/imgs/paisagem.jpg" class="imgTituloPagina">
        <div class="divBackgroundCinza" tooltip="Yuri Barichvich @barichy" placement="bottom" show-delay="2000"></div>
    </div>

    <ion-grid class="gridNoticias">

        <ion-row *ngFor="let aux of listNoticias">
            <ion-col size="12" size-sm="3" (click)="abrirNoticia(aux)">
                <img class="imgNoticias" [src]="aux.imagem">
                <div class="backgroundCinzaNoticia"></div>
            </ion-col>
            <ion-col size="12" size-sm="8" style="border-bottom: 2px solid var(--primary);">
                <p class="pTituloNoticia" (click)="abrirNoticia(aux)">{{aux.manchete}}</p>

                <p class="pPublicado">Publicado em: {{aux.createdAt  | date: 'dd/MM/yyyy'}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>


    <app-rodape></app-rodape>
</ion-content>