<ion-content>
    <app-toolbar></app-toolbar>

    <div>
        <p class="pTituloPagina">Notícias</p>
        <img src="../../assets/imgs/paisagem.jpg" class="imgTituloPagina">
        <div class="divBackgroundCinza"></div>
    </div>

    <ion-grid class="gridNoticias">

        <ion-row>
            <ion-col size="3" (click)="abrirNoticia(aux)">
                <img class="imgNoticias" src="../../assets/imgs/noticia2.png">
                <div class="backgroundCinzaNoticia"></div>
            </ion-col>
            <ion-col size="8" style="border-bottom: 2px solid var(--primary);">
                <p class="pTituloNoticia" (click)="abrirNoticia(aux)">Assinatura de acordo de cooperação com o Governo
                    do Espírito Santo
                    para recuperação da Bacia Hidrográfica do Rio Itapemirim</p>

                <p class="pPublicado">Publicado em: 19/07/2019</p>
            </ion-col>
            <!-- <ion-col size="4" (click)="abrirNoticia(aux)">
                <img class="imgNoticias" src="aux.imagem">
                <p class="pTitulo">aux.titulo</p>
                <div class="backgroundCinzaNoticia"></div>
            </ion-col> -->
        </ion-row>
    </ion-grid>


    <app-rodape></app-rodape>
</ion-content>