<ion-content>
    <app-toolbar></app-toolbar>

    <div>
        <p class="pTituloPagina">Objetivo</p>
        <img src="../../assets/imgs/paisagem.jpg" class="imgTituloPagina">
        <div class="divBackgroundCinza"></div>
    </div>

    <div class="divConteudoPagina">O Instituto tem por objetivo <strong class="strongInstituto">promover e implantar ações que contribuam para a
            melhoria
            da qualidade e quantidade das águas dos mananciais dos municípios do Espírito Santo</strong>, a fim de apoiar
                o
                desenvolvimento sustentável no estado.</div>

                <img src="../../assets/imgs/background (3).jpg" class="imgBackgroundSobre">

    <app-rodape></app-rodape>
</ion-content>