<ion-content>
    <app-toolbar></app-toolbar>

    <div>
        <p class="pTituloPagina">Objetivo</p>
        <img src="../../assets/imgs/paisagem.jpg" class="imgTituloPagina">
        <div class="divBackgroundCinza"></div>
    </div>

    <div class="divConteudoPagina">Estimular a mudança dos padrões de ocupação e uso da terra por meio de iniciativas
        que
        visem a restauração
        florestal, conservação de solo e água, fortalecimento dos serviços ecossistêmicos, produção de água, apoia à
        agricultura e pecuária, geração de trabalho e renda e fomento de arranjos de economia criativa para o
        desenvolvimento sustentável no estado do Espírito Santo.</div>



    <app-rodape></app-rodape>
</ion-content>