<div *ngIf="sobre">
    <div class="divMenu" (click)="abrirPagina('somos')">
        <p>Quem Somos</p>
    </div>
    <div class="divMenu" (click)="abrirPagina('missao')">
        <p>Missão</p>
    </div>
    <div class="divMenu" (click)="abrirPagina('objetivo')">
        <p>Objetivo</p>
    </div>
</div>

<div *ngIf="!sobre">
    <div class="divMenu" (click)="abrirUrl('public/pdf/estatuto.pdf')">
        <p>Ata de Fundação</p>
    </div>
    <div class="divMenu" (click)="abrirUrl('public/pdf/ata_de_fundacao.pdf')">
        <p>Estatuto</p>
    </div>
</div>