<ion-header>
    <ion-toolbar>
        <div class="divToolbar">
            <div>
                <img class="imgLogo" src="../../../assets/imgs/logo.png">
            </div>
            <div class="divBotoes">
                <ion-button fill="clear" class="buttonToolbar">Quem Somos</ion-button>
                <ion-button fill="clear" class="buttonToolbar">O que fazemos</ion-button>
                <ion-button fill="clear" class="buttonToolbar">Transparência</ion-button>
                <ion-button fill="clear" class="buttonToolbar">Parceiros</ion-button>
                <ion-button fill="clear" class="buttonToolbar">Contato</ion-button>
            </div>
        </div>
    </ion-toolbar>
</ion-header>