<ion-header no-border>
    <ion-toolbar>
        <div class="divToolbar">
            <div (click)="abrirPagina('home')">
                <img class="imgLogo" src="../../../assets/imgs/logo.png">
            </div>
            <div class="divBotoes">
                <ion-button fill="clear" class="buttonToolbar" (click)="abrirPagina('sobre', $event)">Sobre</ion-button>
                <ion-button fill="clear" class="buttonToolbar" (click)="abrirPagina('noticia-pagina')">Notícias</ion-button>
                <ion-button fill="clear" class="buttonToolbar" (click)="abrirPagina('transparencia', $event)">
                    Transparência
                </ion-button>
                <ion-button fill="clear" class="buttonToolbar" (click)="abrirPagina('parceiros')">Parceiros</ion-button>
                <ion-button fill="clear" class="buttonToolbar" (click)="abrirPagina('contato')">Contato</ion-button>
            </div>
        </div>
    </ion-toolbar>
</ion-header>