<ion-header>
    <ion-toolbar class="backgroundToolbar">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="produto" (click)="voltar()"></ion-back-button>
        </ion-buttons>Fotos
    </ion-toolbar>
</ion-header>
<div class="divSlides">
    <ion-slides #slideFoto style="height: 544px;">
        <ion-slide *ngFor="let aux of listImagens">
            <div><img [src]="aux.url" style="max-height: 544px;" class="imgSlide"></div>
        </ion-slide>
    </ion-slides>
    <div class="divSetaEsquerda" (click)="moverSlide(false)">
        <ion-icon name="ios-arrow-dropleft"></ion-icon>
    </div>
    <div class="divSetaDireita" (click)="moverSlide(true)">
        <ion-icon name="ios-arrow-dropright"></ion-icon>
    </div>
</div>