<ion-content>
    <app-toolbar></app-toolbar>
    <div class="divImagem">
        <img class="imgSlide" src="../../assets/imgs/slide.jpg">

        <div class="divImagemTexto">

            <p class="pTitulo">ATITUDES SUSTENTÁVEIS</p>
            <p class="pSubtitulo">PRESERVAM O FUTURO</p>

            <ion-button shape="round" class="buttonSaibaMais" (click)="abrirSaibaMais()">Saiba mais</ion-button>
        </div>
    </div>

    <div class="divFrase">
        “Tudo vem da Água, tudo possui água... A inexistência da Água traz a inexistência da vida... Ela é a primeira
        substância que origina a vida” <br><strong>Thalles de Mileto - 400 A.C.</strong>
    </div>

    <div class="divTitulo">
        <p>Notícias</p>
        <div class="divBarra"></div>
    </div>

    <div style="position: relative">
        <ion-slides #slideFoto [options]="optionsSlide" class="slidesNoticia">

            <ion-slide (click)="abrirNoticia(aux)" *ngFor="let aux of listNoticias">
                <img class="imgNoticias" [src]="aux.imagem">
                <p class="pTituloNoticia">{{aux.manchete}}</p>
                <div class="divCinza"></div>
            </ion-slide>

        </ion-slides>

        <div class="divSetaEsquerda" (click)="moverSlide(false)">
            <ion-icon name="ios-arrow-dropleft"></ion-icon>
        </div>
        <div class="divSetaDireita" (click)="moverSlide(true)">
            <ion-icon name="ios-arrow-dropright"></ion-icon>
        </div>
    </div>

    <app-rodape></app-rodape>
</ion-content>