<ion-content>
    <app-toolbar></app-toolbar>
    <div class="divImagem">
        <img class="imgSlide" src="../../assets/imgs/slide.jpg">

        <div class="divImagemTexto">

            <p class="pTitulo">ATITUDES SUSTENTÁVEIS</p>
            <p class="pSubtitulo">PRESERVAM O FUTURO</p>

            <ion-button shape="round" class="buttonSaibaMais" (click)="abrirSaibaMais()">Saiba mais</ion-button>
        </div>
    </div>

    <div class="divTitulo">
        <p>Notícias</p>
        <div class="divBarra"></div>
    </div>

    <ion-slides [options]="optionsSlide" class="slidesNoticia">

        <ion-slide (click)="abrirNoticia(aux)" *ngFor="let aux of listNoticias">
            <img class="imgNoticias" [src]="aux.imagem">
            <p class="pTituloNoticia">{{aux.manchete}}</p>
            <div class="divCinza"></div>
        </ion-slide>

        <div class="divSetaEsquerda">
            <ion-icon name="ios-arrow-dropleft"></ion-icon>
        </div>
        <div class="divSetaDireita">
            <ion-icon name="ios-arrow-dropright"></ion-icon>
        </div>
    </ion-slides>

    <app-rodape></app-rodape>
</ion-content>