.buttonSaibaMais {
    margin-top: 30px;
    --background: linear-gradient(to right, #2a3b72, #1e4a7e, #105889, #046691, #0b7497);
    border-radius: 25px;
    color: white;
    height: 50px;
    width: 200px;
    font-size: 20px;
}

.pTitulo {
    color: #2A3B72;
    font-weight: 300;
    font-size: 50px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.pSubtitulo {
    color: #2A3B72;
    font-weight: bold;
    font-size: 50px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.divImagemTexto {
    width: 700px;
    text-align: center;
    position: absolute;
    top: 300px;
    left: 150px;
}

.imgSlide {
    height: 694px;
    width: 1920px;
}

.slidesNoticia {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.pTituloNoticia {
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: white;
    font-size: 25px;
}

.divCinza {
    height: 402px;
    width: calc(100% - 10px);
    position: absolute;
    background: rgba(30, 30, 30, 0.5);
    cursor: pointer;
}

.divTitulo {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #2A3B72;
    font-weight: 500;
    justify-content: center;
    display: flex;
}

.divBarra {
    border-bottom: 1px solid #2A3B72;
    width: 300px;
    height: 1px;
    position: absolute;
    margin-top: 85px;
}


.imgNoticias {
    width: 100%;
    height: 401px;
    object-fit: cover;
    padding-left: 5px;
    padding-right: 5px;
}


.pTituloNoticia {
    position: absolute;
    bottom: 60px;
    color: white;
    left: 30px;
    font-size: 20px;
    font-weight: 500;
    width: calc(100% - 70px);
    text-align: justify;
    z-index: 99;
}

@media(max-width: 1000px) {
    .imgSlide {
        width: 100%;
        height: 300px;
    }

    .divImagemTexto {
        text-align: center;
        width: 100%;
        top: 130px;
        left: unset;
    }

    .pTitulo {
        font-size: 20px;
    }

    .pSubtitulo {
        font-size: 20px
    }

    .slidesNoticia {
        margin: unset;
        padding: unset;
    }

    .pTituloNoticia {
        font-size: 15px;
        bottom: 0;
    }

    .divSetaEsquerda {
        top: 165px;
        left: 0;
        color: white;
        z-index: 99;
    }

    .divSetaDireita {
        top: 165px;
        right: 0;
        color: white;
        z-index: 99;
    }
}